body{
    margin: 0;
}

.header{
    width: 100%;
    background-color: #32a852;
    /* margin-bottom: 50px; */
}

.nav-link {
    color: white !important;
}

#test {
    padding-left: 20px ;
    padding-right: 20px;
}

.navbar-brand {
    color: white !important;
}

.header a{
    font-family: 'Poppins', sans-serif;
}

.hero {
    background-image: url(mainhero.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 40vh;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.main-content {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1920' height='944.944' preserveAspectRatio='none' viewBox='0 0 1920 944.944'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1000%26quot%3b)' fill='none'%3e%3crect width='421.2' height='421.2' clip-path='url(%26quot%3b%23SvgjsClipPath1001%26quot%3b)' x='774.73' y='550.14' fill='url(%26quot%3b%23SvgjsPattern1002%26quot%3b)' transform='rotate(318.72%2c 985.33%2c 760.74)'%3e%3c/rect%3e%3crect width='144' height='144' clip-path='url(%26quot%3b%23SvgjsClipPath1003%26quot%3b)' x='1533.01' y='401.9' fill='url(%26quot%3b%23SvgjsPattern1004%26quot%3b)' transform='rotate(204.61%2c 1605.01%2c 473.9)'%3e%3c/rect%3e%3cpath d='M534.33 52.86a5.6 5.6 0 1 0-6.76-8.93 5.6 5.6 0 1 0 6.76 8.93zM524.67 40.11a5.6 5.6 0 1 0-6.77-8.93 5.6 5.6 0 1 0 6.77 8.93zM515 27.35a5.6 5.6 0 1 0-6.76-8.92 5.6 5.6 0 1 0 6.76 8.92zM505.34 14.6a5.6 5.6 0 1 0-6.76-8.93 5.6 5.6 0 1 0 6.76 8.93zM566.41 68.7a5.6 5.6 0 1 0-6.77-8.92 5.6 5.6 0 1 0 6.77 8.92zM556.75 55.95a5.6 5.6 0 1 0-6.77-8.93 5.6 5.6 0 1 0 6.77 8.93zM547.08 43.2a5.6 5.6 0 1 0-6.76-8.93 5.6 5.6 0 1 0 6.76 8.93zM537.42 30.44a5.6 5.6 0 1 0-6.76-8.92 5.6 5.6 0 1 0 6.76 8.92zM598.49 84.55a5.6 5.6 0 1 0-6.77-8.93 5.6 5.6 0 1 0 6.77 8.93zM588.82 71.79a5.6 5.6 0 1 0-6.76-8.92 5.6 5.6 0 1 0 6.76 8.92zM579.16 59.04a5.6 5.6 0 1 0-6.76-8.93 5.6 5.6 0 1 0 6.76 8.93zM569.5 46.29a5.6 5.6 0 1 0-6.77-8.93 5.6 5.6 0 1 0 6.77 8.93z' stroke='rgba(50%2c 168%2c 82%2c 0.24)' stroke-width='1.34'%3e%3c/path%3e%3cpath d='M870.85 62.230000000000004 L937.6300000000001 95.32L873.8708403497996 109.14415965020052z' stroke='rgba(216%2c 189%2c 100%2c 0.26)' stroke-width='1' stroke-dasharray='2%2c 2'%3e%3c/path%3e%3cpath d='M1537.35 653.34L1540.21 665.82 1528.66 671.35 1531.52 683.83 1519.97 689.36 1522.83 701.85 1511.28 707.38M1530.14 649.86L1533 662.34 1521.45 667.87 1524.32 680.36 1512.77 685.89 1515.63 698.37 1504.08 703.9M1522.94 646.38L1525.8 658.87 1514.25 664.4 1517.11 676.88 1505.56 682.41 1508.42 694.89 1496.87 700.43' stroke='rgba(50%2c 168%2c 82%2c 0.24)' stroke-width='2.33' stroke-dasharray='2%2c 2'%3e%3c/path%3e%3crect width='581.12' height='581.12' clip-path='url(%26quot%3b%23SvgjsClipPath1005%26quot%3b)' x='699.83' y='460.71' fill='url(%26quot%3b%23SvgjsPattern1006%26quot%3b)' transform='rotate(0.36%2c 990.39%2c 751.27)'%3e%3c/rect%3e%3crect width='169.2' height='169.2' clip-path='url(%26quot%3b%23SvgjsClipPath1007%26quot%3b)' x='1043.96' y='565.55' fill='url(%26quot%3b%23SvgjsPattern1008%26quot%3b)' transform='rotate(321.97%2c 1128.56%2c 650.15)'%3e%3c/rect%3e%3crect width='372' height='372' clip-path='url(%26quot%3b%23SvgjsClipPath1009%26quot%3b)' x='1014.43' y='139.05' fill='url(%26quot%3b%23SvgjsPattern1010%26quot%3b)' transform='rotate(9.82%2c 1200.43%2c 325.05)'%3e%3c/rect%3e%3crect width='628.32' height='628.32' clip-path='url(%26quot%3b%23SvgjsClipPath1011%26quot%3b)' x='166.86' y='-11.52' fill='url(%26quot%3b%23SvgjsPattern1012%26quot%3b)' transform='rotate(259.99%2c 481.02%2c 302.64)'%3e%3c/rect%3e%3crect width='109.60000000000001' height='109.60000000000001' clip-path='url(%26quot%3b%23SvgjsClipPath1013%26quot%3b)' x='1360.67' y='711.66' fill='url(%26quot%3b%23SvgjsPattern1014%26quot%3b)' transform='rotate(130.11%2c 1415.47%2c 766.46)'%3e%3c/rect%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1000'%3e%3crect width='1920' height='944.944' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cpattern x='0' y='0' width='11.7' height='11.7' patternUnits='userSpaceOnUse' id='SvgjsPattern1002'%3e%3cpath d='M0 11.7L5.85 0L11.7 11.7' stroke='rgba(216%2c 189%2c 100%2c 0.26)' fill='none'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1001'%3e%3ccircle r='105.3' cx='985.33' cy='760.74'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='144' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern1004'%3e%3crect width='144' height='3' x='0' y='0' fill='rgba(50%2c 168%2c 82%2c 0.24)'%3e%3c/rect%3e%3crect width='144' height='3' x='0' y='3' fill='rgba(0%2c 0%2c 0%2c 0)'%3e%3c/rect%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1003'%3e%3ccircle r='36' cx='1605.01' cy='473.9'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='9.08' height='9.08' patternUnits='userSpaceOnUse' id='SvgjsPattern1006'%3e%3cpath d='M0 9.08L4.54 0L9.08 9.08' stroke='rgba(50%2c 168%2c 82%2c 0.24)' fill='none'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1005'%3e%3ccircle r='145.28' cx='990.39' cy='751.27'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='8.46' height='8.46' patternUnits='userSpaceOnUse' id='SvgjsPattern1008'%3e%3cpath d='M4.23 1L4.23 7.460000000000001M1 4.23L7.460000000000001 4.23' stroke='rgba(216%2c 189%2c 100%2c 0.26)' fill='none' stroke-width='1'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1007'%3e%3ccircle r='42.3' cx='1128.56' cy='650.15'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='6' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern1010'%3e%3cpath d='M3 1L3 5M1 3L5 3' stroke='rgba(216%2c 189%2c 100%2c 0.26)' fill='none' stroke-width='1'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1009'%3e%3ccircle r='93' cx='1200.43' cy='325.05'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='628.32' height='7.48' patternUnits='userSpaceOnUse' id='SvgjsPattern1012'%3e%3crect width='628.32' height='3.74' x='0' y='0' fill='rgba(216%2c 189%2c 100%2c 0.26)'%3e%3c/rect%3e%3crect width='628.32' height='3.74' x='0' y='3.74' fill='rgba(0%2c 0%2c 0%2c 0)'%3e%3c/rect%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1011'%3e%3ccircle r='157.08' cx='481.02' cy='302.64'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='10.96' height='10.96' patternUnits='userSpaceOnUse' id='SvgjsPattern1014'%3e%3cpath d='M0 10.96L5.48 0L10.96 10.96' stroke='rgba(216%2c 189%2c 100%2c 0.26)' fill='none'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1013'%3e%3ccircle r='27.400000000000002' cx='1415.47' cy='766.46'%3e%3c/circle%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e");
    background-position: center;
    background-size: cover;
    height: 91.4vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* background-color: #2d3d31; */
}

/* .warp-about {
    width: 1250px;
    display: flex;
} */

.main-content .about-text{
    box-sizing: border-box;
    margin-right: 10em;
    /* padding: 20px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: aqua; */
    width: 800px
}

.main-content .about-text h1{
    /* background-color: #2d3d31; */
    /* margin-bottom: 40px; */
    color: #32a852;
    font-weight: bold;
    font-size: 3em;
    font-family: 'Poppins', sans-serif;
}

.main-content .about-text p{
    margin-top: 10px;
    text-align: justify;
    /* background-color: #2d3d31; */
    color: #32a852;
    font-size: 1.5em;
    line-height: 1.5em;
    font-family: 'Poppins', sans-serif;
}

.main-content .about-image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    /* background-color: rgb(73, 83, 83); */
}

.main-content .about-image img{
    width: 500px;
}

.footer {
    position: sticky;
    width: 100%;
    background-color:#32a852;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px
}

.footer p{
    margin-top: 16px;
    font-weight: bold;
    text-align: center;
    color: white;
    font-size: 0.8em;
    font-family: 'Poppins', sans-serif;
}

@media screen and (max-width: 1366px) {
    .main-content {
        height: 86.7vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        /* background-color: #2d3d31; */
    }
    
    .main-content .about-text{
        box-sizing: border-box;
        /* margin-right: 10em; */
        /* padding: 20px; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* background-color: aqua; */
        width: 600px
    }
    
    .main-content .about-text h1{
        /* background-color: #2d3d31; */
        /* margin-bottom: 40px; */
        color: #32a852;
        font-weight: bold;
        font-size: 2em;
        font-family: 'Poppins', sans-serif;
    }
    
    .main-content .about-text p{
        margin-top: 10px;
        text-align: justify;
        /* background-color: #2d3d31; */
        color: #32a852;
        font-size: 1em;
        line-height: 1.5em;
        font-family: 'Poppins', sans-serif;
    }
    
    .main-content .about-image{
        display: flex;
        justify-content: center;
        align-items: center;
        width: fit-content;
        /* background-color: rgb(73, 83, 83); */
    }
    
    .main-content .about-image img{
        width: 300px;
    }
}

@media screen and (max-width: 828px) {
    .main-content {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='828' height='1790' preserveAspectRatio='none' viewBox='0 0 828 1790'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1219%26quot%3b)' fill='none'%3e%3crect width='360' height='360' clip-path='url(%26quot%3b%23SvgjsClipPath1220%26quot%3b)' x='573.16' y='1279.77' fill='url(%26quot%3b%23SvgjsPattern1221%26quot%3b)' transform='rotate(101.81%2c 753.16%2c 1459.77)'%3e%3c/rect%3e%3crect width='511.2' height='511.2' clip-path='url(%26quot%3b%23SvgjsClipPath1222%26quot%3b)' x='-111.51' y='838.45' fill='url(%26quot%3b%23SvgjsPattern1223%26quot%3b)' transform='rotate(263.9%2c 144.09%2c 1094.05)'%3e%3c/rect%3e%3ccircle r='69' cx='805.7' cy='730.95' stroke='rgba(3%2c 123%2c 11%2c 0.15)' stroke-width='2.3' stroke-dasharray='3%2c 2'%3e%3c/circle%3e%3cpath d='M444.18 250.41a5.6 5.6 0 1 0-11.02 2 5.6 5.6 0 1 0 11.02-2zM428.43 253.27a5.6 5.6 0 1 0-11.02 2 5.6 5.6 0 1 0 11.02-2zM412.69 256.12a5.6 5.6 0 1 0-11.02 2 5.6 5.6 0 1 0 11.02-2zM396.95 258.98a5.6 5.6 0 1 0-11.02 2 5.6 5.6 0 1 0 11.02-2zM472.81 228.96a5.6 5.6 0 1 0-11.02 2 5.6 5.6 0 1 0 11.02-2zM457.06 231.81a5.6 5.6 0 1 0-11.02 2 5.6 5.6 0 1 0 11.02-2zM441.32 234.67a5.6 5.6 0 1 0-11.02 2 5.6 5.6 0 1 0 11.02-2zM425.58 237.53a5.6 5.6 0 1 0-11.02 1.99 5.6 5.6 0 1 0 11.02-1.99z' stroke='rgba(3%2c 123%2c 11%2c 0.15)' stroke-width='1.31' stroke-dasharray='3%2c 2'%3e%3c/path%3e%3cpath d='M517.49 306.26a5.6 5.6 0 1 0 10.4-4.15 5.6 5.6 0 1 0-10.4 4.15zM532.35 300.34a5.6 5.6 0 1 0 10.4-4.15 5.6 5.6 0 1 0-10.4 4.15zM547.21 294.41a5.6 5.6 0 1 0 10.41-4.14 5.6 5.6 0 1 0-10.41 4.14zM562.08 288.49a5.6 5.6 0 1 0 10.4-4.15 5.6 5.6 0 1 0-10.4 4.15zM493.69 332.97a5.6 5.6 0 1 0 10.4-4.15 5.6 5.6 0 1 0-10.4 4.15zM508.55 327.05a5.6 5.6 0 1 0 10.4-4.15 5.6 5.6 0 1 0-10.4 4.15zM523.41 321.12a5.6 5.6 0 1 0 10.41-4.14 5.6 5.6 0 1 0-10.41 4.14zM538.27 315.2a5.6 5.6 0 1 0 10.41-4.15 5.6 5.6 0 1 0-10.41 4.15zM469.88 359.68a5.6 5.6 0 1 0 10.41-4.14 5.6 5.6 0 1 0-10.41 4.14zM484.75 353.76a5.6 5.6 0 1 0 10.4-4.15 5.6 5.6 0 1 0-10.4 4.15zM499.61 347.83a5.6 5.6 0 1 0 10.4-4.14 5.6 5.6 0 1 0-10.4 4.14zM514.47 341.91a5.6 5.6 0 1 0 10.41-4.15 5.6 5.6 0 1 0-10.41 4.15z' stroke='rgba(3%2c 123%2c 11%2c 0.15)' stroke-width='2.41' stroke-dasharray='3%2c 3'%3e%3c/path%3e%3crect width='264' height='264' clip-path='url(%26quot%3b%23SvgjsClipPath1224%26quot%3b)' x='-125.54' y='1499.64' fill='url(%26quot%3b%23SvgjsPattern1225%26quot%3b)' transform='rotate(232.19%2c 6.46%2c 1631.64)'%3e%3c/rect%3e%3cpath d='M573.53 1135.25a5.6 5.6 0 1 0 8.77 6.96 5.6 5.6 0 1 0-8.77-6.96zM586.06 1145.2a5.6 5.6 0 1 0 8.78 6.96 5.6 5.6 0 1 0-8.78-6.96zM598.6 1155.14a5.6 5.6 0 1 0 8.77 6.96 5.6 5.6 0 1 0-8.77-6.96zM611.13 1165.08a5.6 5.6 0 1 0 8.78 6.96 5.6 5.6 0 1 0-8.78-6.96z' stroke='rgba(3%2c 123%2c 11%2c 0.15)' stroke-width='2.58' stroke-dasharray='3%2c 2'%3e%3c/path%3e%3cpath d='M346.5 416.52L338.97 406.16 347.42 396.54 339.89 386.18 348.34 376.56 340.81 366.2 349.26 356.58' stroke='rgba(50%2c 168%2c 82%2c 0.26)' stroke-width='1.74' stroke-dasharray='3%2c 2'%3e%3c/path%3e%3cpath d='M806.59 38.5 L844.52 200.4L716.4174162100707 228.58758378992945z' fill='rgba(3%2c 123%2c 11%2c 0.15)'%3e%3c/path%3e%3crect width='384' height='384' clip-path='url(%26quot%3b%23SvgjsClipPath1226%26quot%3b)' x='242.04' y='321.56' fill='url(%26quot%3b%23SvgjsPattern1227%26quot%3b)' transform='rotate(32.49%2c 434.04%2c 513.56)'%3e%3c/rect%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1219'%3e%3crect width='828' height='1790' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cpattern x='0' y='0' width='360' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern1221'%3e%3crect width='360' height='3' x='0' y='0' fill='rgba(3%2c 123%2c 11%2c 0.15)'%3e%3c/rect%3e%3crect width='360' height='3' x='0' y='3' fill='rgba(0%2c 0%2c 0%2c 0)'%3e%3c/rect%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1220'%3e%3ccircle r='90' cx='753.16' cy='1459.77'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='8.52' height='8.52' patternUnits='userSpaceOnUse' id='SvgjsPattern1223'%3e%3cpath d='M0 8.52L4.26 0L8.52 8.52' stroke='rgba(50%2c 168%2c 82%2c 0.26)' fill='none'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1222'%3e%3ccircle r='127.8' cx='144.09' cy='1094.05'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='6' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern1225'%3e%3cpath d='M3 1L3 5M1 3L5 3' stroke='rgba(50%2c 168%2c 82%2c 0.26)' fill='none' stroke-width='1'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1224'%3e%3ccircle r='66' cx='6.46' cy='1631.64'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='6' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern1227'%3e%3cpath d='M3 1L3 5M1 3L5 3' stroke='rgba(50%2c 168%2c 82%2c 0.26)' fill='none' stroke-width='1.21'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1226'%3e%3ccircle r='96' cx='434.04' cy='513.56'%3e%3c/circle%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e");
        background-size: cover;
        background-position: center;
        height: 90vh;
        display: flex;
        justify-content: center;
        align-items: center;
        /* background-color: #2d3d31; */
    }
    
    /* .warp-about {
        background-color: #32a852;
    } */
    .main-content .about-text{
        box-sizing: border-box;
        /* margin-right: 10em; */
        /* padding: 20px; */
        display: flex;
        justify-content: center;
        /* background-color: aqua; */
        width: 320px;
        margin:0;
    }
    
    .main-content .about-text h1{
        /* background-color: #2d3d31; */
        /* margin-bottom: 40px; */
        color: #32a852;
        font-weight: bold;
        font-size: 2em;
        font-family: 'Poppins', sans-serif;
    }
    
    .main-content .about-text p{
        margin-top: 10px;
        text-align: justify;
        /* background-color: #2d3d31; */
        color: #32a852;
        font-size: 1em;
        line-height: 1.8em;
        font-family: 'Poppins', sans-serif;
    }
    
    .main-content .about-image{
        display: none;
        /* background-color: rgb(73, 83, 83); */
    }
    
    .main-content .about-image img{
        display: none;
        width: 0;
    }

    .footer {
        box-sizing: border-box;
        /* position: fixed; */
        width: 100%;
        background-color:#32a852;
        /* bottom: 0; */
        display: flex;
        justify-content: center;
        align-items: center;
        height: 25px
    }
    
    .footer p{
        margin:0;
        /* margin-top: 16px; */
        display: flex;
        justify-self: center;
        align-self: center;
        font-weight: bold;
        text-align: center;
        color: white;
        /* background-color: aqua; */
        font-size: 0.7em;
        font-family: 'Poppins', sans-serif;
    }
}